* {
    padding: 0px;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-image: url(./rm314-bb-18.jpg);
}

nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: start;
    color: white;
}

.logo {
    color: azure;
    padding: 3px;
    margin: 15px;
    justify-content: center;
    text-align: center;
    text-decoration: underline;



}

.descriptiion {
    color: azure;
    justify-content: left;

}

.description h1 {


    margin-top: 100px;
    color: whitesmoke;
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 20px;

}

.description p {

    width: 400px;
    height: 500px;
    padding: 15px;

    font-size: smaller;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 28px;
    color: beige;



}
.description p::first-letter {
    font-size: 30px;
    color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


ul {
    list-style: none;
    gap: 40px;
    padding: 10px;
    font-size: larger;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;

}

ul a {
    color: white;
}

ul a:hover {

    background-color: aqua;
    color: rosybrown;
}